{% extends 'news_app/base.html' %}
{% load static %}
{% block title %} Sport News{% endblock title %}

{% block content %}
    {% for sport in sport_news %}
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <a href="{% url 'news_detail' sport.pk %}"><img src="{{ sport.image.url }}" alt="{{ sport.title }}" style="width: 50%"></a>
                </div>
                <div class="col-sm-8">
                    <a href="{% url 'news_detail' sport.pk %}"><h4>{{ sport.title }}</h4></a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}